/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Tamaño de fuente por defecto */
        background-color: #bd1818; /* Color de fondo por defecto */
    }
    h1{
        font-size: 14;
        color:aqua;
    }
    img{
        width: 60px;
        height: 40px;
    }

    /* Otros estilos para tamaños de pantalla más pequeños */
}

/* Estilos para pantallas más grandes (como ordenadores) */
@media screen and (min-width: 769px) {
    body {
        font-size: 14px; /* Reducción del tamaño de fuente para dispositivos más pequeños */
        background-color: #daaeae; /* Cambio del color de fondo para dispositivos más pequeños */
  
    }
    h1 {s
        font-size: 42px;
        color:brown;
    }
    img{
        width: 320px;
        height: 300px;
    }

    /* Otros estilos para tamaños de pantalla más grandes */
}
